In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../dados/aluguel_residencial.csv', sep=';')

In [19]:
df.tail(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
21721,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0,37.50,Apartamento
21722,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0,100.00,Apartamento
21723,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0,35.71,Apartamento
21724,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0,19.23,Apartamento
21725,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0,33.33,Apartamento
21726,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
21727,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
21728,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
21729,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
21730,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21731 entries, 0 to 21730
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           21731 non-null  object
 1   Bairro         21731 non-null  object
 2   Quartos        21731 non-null  int64
 3   Vagas          21731 non-null  int64
 4   Suites         21731 non-null  int64
 5   Area           21731 non-null  int64
 6   Valor          21731 non-null  float64
 7   Condominio     21731 non-null  float64
 8   IPTU           21731 non-null  float64
 9   Valor m2       21731 non-null  float64
 10  Tipo Agregado  21731 non-null  object
dtypes: float64(4), int64(4), object(3)
memory usage: 1.8+ MB

In [8]:
## Quartos ##
# 1 e 2 
# 3 e 4
# 5 e 6
# 7 ou mais

classes = [0, 2, 4, 6, 100]

In [9]:
quartos = pd.cut(df.Quartos, classes)

In [10]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
21726    (0.0, 2.0]
21727           NaN
21728    (2.0, 4.0]
21729    (0.0, 2.0]
21730    (0.0, 2.0]
Name: Quartos, Length: 21731, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [11]:
pd.value_counts(quartos)

(0, 2]      11217
(2, 4]       9646
(4, 6]        660
(6, 100]       49
Name: Quartos, dtype: int64

In [13]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [17]:
quartos = pd.cut(df.Quartos, classes, labels = labels)

In [18]:
quartos

0        1 e 2 quartos
1        1 e 2 quartos
2        1 e 2 quartos
3        1 e 2 quartos
4        1 e 2 quartos
             ...
21726    1 e 2 quartos
21727              NaN
21728    3 e 4 quartos
21729    1 e 2 quartos
21730    1 e 2 quartos
Name: Quartos, Length: 21731, dtype: category
Categories (4, object): ['1 e 2 quartos' < '3 e 4 quartos' < '5 e 6 quartos' < '7 quartos ou mais']

In [20]:
pd.value_counts(quartos)

1 e 2 quartos        11217
3 e 4 quartos         9646
5 e 6 quartos          660
7 quartos ou mais       49
Name: Quartos, dtype: int64