In [1]:
import pandas as pd

# Series

In [3]:
data = [1,2,3,4,5]

In [4]:
s = pd.Series(data)

In [5]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
index = 'A B C D E'.split()

In [13]:
index = ['Linha' + str(i) for i in range(5)] # consigo utilizar for para realizacao de indices ou elementos na lista

In [14]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [21]:
s = pd.Series(data, index=index)

In [22]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [24]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [25]:
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [27]:
s = pd.Series(data)

In [28]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [30]:
s1 = s + 2

In [31]:
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [33]:
s2 = s + s1

In [34]:
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

# Dataframes

In [37]:
data = [ [1,2,3], [4,5,6], [7,8,9] ]

In [39]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [70]:
index = ['Linha' + str(i) for i in range(3)]

In [71]:
index

['Linha0', 'Linha1', 'Linha2']

In [72]:
columns = ['Coluna' + str(i) for i in range(3)]

In [73]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [74]:
df1 = pd.DataFrame(data, index = index, columns=columns)

In [75]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [82]:
data = {'Coluna0': {'Linha0' : 1, 'Linha1' : 4, 'Linha2' : 7}, 
        'Coluna1': {'Linha0' : 2, 'Linha1' : 5, 'Linha2' : 8}, 
        'Coluna2': {'Linha0' : 3, 'Linha1' : 6, 'Linha2' : 9}}

In [56]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [58]:
df2 = pd.DataFrame(data)

In [59]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [60]:
data = [ 
        (1,2,3), 
        (4,5,6), 
        (7,8,9) 
    ]

In [61]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [65]:
df3 = pd.DataFrame(data, index = 'A B C'.split(), columns=['X', 'Y', 'Z'])

In [66]:
df3

   X  Y  Z
A  1  2  3
B  4  5  6
C  7  8  9

In [67]:
df1[df1 > 0] = 'A'
df1

   X  Y  Z
A  A  A  A
B  A  A  A
C  A  A  A

In [83]:
df3 = pd.DataFrame(data)

In [91]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [102]:
df1[df1 > 0] = 'A'

TypeError: '>' not supported between instances of 'str' and 'int'

In [103]:
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [105]:
df2[df2 > 0] = 'B'

TypeError: '>' not supported between instances of 'str' and 'int'

In [106]:
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [107]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [109]:
df4 = pd.concat([df1,df2,df3])

In [114]:
df4.index = ['Linha' + str(i) for i in range(df4.shape[0])]

In [115]:
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha3       B       B       B
Linha4       B       B       B
Linha5       B       B       B
Linha6       C       C       C
Linha7       C       C       C
Linha8       C       C       C

In [117]:
df4 = pd.concat([df1,df2,df3], axis=1)

In [121]:
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

In [123]:
df4.columns = ['Coluna' + str(i) for i in range(df4.shape[1])]

In [124]:
df4

       Coluna0 Coluna1 Coluna2 Coluna3 Coluna4 Coluna5 Coluna6 Coluna7 Coluna8
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

# Testes Atividade

In [130]:
df10 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2} })
df11 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4} })

In [131]:
df10

   A  B
X  1  2

In [132]:
df11

   C  D
X  3  4

In [134]:
df12 = pd.concat([df10,df11], axis=1)

In [135]:
df12

   A  B  C  D
X  1  2  3  4

In [140]:
columns = list('CBA')[::-1] # inverte a frase e transforma em lista com o 'List'

In [141]:
columns

['A', 'B', 'C']